@model List<PizzaREAL.Models.Dish>

<h2>Mat med omtanke!</h2>

<p>Här under kan du se våran utsökta meny. </p>
<p>Pastan och salladen är färsk, och våra pizzor är vedugnsbakade!</p>
<p>Här under ser du våran meny, för att bestäla vår god och logga in (eller skapa ett konto).</p>

<h3>Pizzor</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Namn</th>
      <th scope="col">Beskrivning</th>
      <th scope="col">Ingredienser</th>
      <th scope="col">Pris</th>
      <th scope="col">Beställ</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var dish in Model.Where(d => d.DishTypeId == 1))
    {
      <tr>
          <th scope="row">@dish.DishName</th>
          <td>@dish.Description</td>
          <td>
              @foreach (var ingridient in dish.Ingredients)
              {
                  @ingridient.IngredientName @Html.Raw(", ")
              }
          </td>
          <td>@dish.Price</td>
          <td>Beställ</td>
      </tr>
    }
    
</table>

<h3>Pasta</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Namn</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var dish in Model.Where(d => d.DishTypeId == 2))
    {
      <tr>
          <th scope="row">@dish.DishName</th>
          <td>@dish.Description</td>
          <td>
              @foreach (var ingridient in dish.Ingredients)
              {
                  @ingridient.IngredientName @Html.Raw(", ")
              }
          </td>
          <td>@dish.Price</td>
          <td>Beställ</td>
      </tr>
    }
</table>

<h3>Sallader</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Namn</th>
      <th scope="col">Beskrivning</th>
      <th scope="col">Ingredienser</th>
      <th scope="col">Pris</th>
      <th scope="col">Beställ</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var dish in Model.Where(d => d.DishTypeId == 3))
    {
      <tr>
          <th scope="row">@dish.DishName</th>
          <td>@dish.Description</td>
          <td>
              @foreach (var ingridient in dish.Ingredients)
              {
                  @ingridient.IngredientName @Html.Raw(", ")
              }
          </td>
          <td>@dish.Price</td>
          <td>Beställ</td>
      </tr>
    }
</table>