@model PizzaREAL.ViewModels.AddDishViewModel

@if (ViewBag.Dish != null)
{
    <div class="alert alert-dismissible green">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewBag.Dish
    </div>
}

<div class="container-sm">
    <form asp-controller="Dish" asp-action="UpdateDish" method="Post">
        @Html.HiddenFor(model => model.NewDish.DishId)
        <fieldset>
            <legend>Lägg till maträtt</legend>
            
            <div class="row">
                <div class="col-sm">
                    <label asp-for="NewDish.DishName" class="form-label mt-4"></label>
                    <input type="text" class="form-control" asp-for="NewDish.DishName" maxlength="100" />
                    <span asp-validation-for="NewDish.DishName" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="NewDish.Price" class="form-label mt-4"></label>
                    <input type="number" class="form-control" asp-for="NewDish.Price" maxlength="100" />
                    <span asp-validation-for="NewDish.Price" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="NewDish.DishType" class="form-label mt-4">Typ av maträtt</label>
                    <select class="form-control" asp-for="NewDish.DishTypeId">

                        @foreach (var dishType in Model.DishTypes)
                        {
                            <option value="@dishType.DishTypeId">@dishType.Description</option>
                        }
                    </select>
                    <span asp-validation-for="NewDish.DishName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label asp-for="NewDish.Description" class="form-label mt-4"></label>
                    <textarea style="resize:none" class="form-control" asp-for="NewDish.Description" rows="50"></textarea>
                    <span asp-validation-for="NewDish.Description" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label class="form-label mt-4">Ingredienser</label>
                    <select multiple class="form-control" asp-for="IngredientIds" rows="50">

                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <option value="@ingredient.IngredientId">@ingredient.IngredientName</option>

                        }
                    </select>
                    <span asp-validation-for="NewDish.Description" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <br />
                <a asp-controller="Dish" asp-action="GetDishes" class="btn grey">Tillbaka</a>
                <button type="submit" class="btn green">Updatera maträtt</button>
            </div>
        </fieldset>
    </form>
</div>